<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOS新特性.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Runtime交换方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Runtime消息机制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>关键字_kindof.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>泛型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3451A531D40F89C004B334B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35D3E851D40A61300E08D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35D3E9E1D40A61300E08D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35D3EA91D40A61300E08D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35D3EBF1D40AFBB00E08D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35D3ED71D40AFBB00E08D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35D3EE21D40AFBB00E08D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35D3F051D40BA6D00E08D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35D3F1D1D40BA6D00E08D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35D3F281D40BA6D00E08D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35D3F421D40C17F00E08D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
