<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOS新特性.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Rumtime动态添加属性.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Runtime交换方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Runtime动态添加方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Runtime字典转模型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Runtime消息机制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>const与宏的区别.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>const简单实用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>static_extern使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>关键字_kindof.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>泛型.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A5902D11D430AA000996B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3451A531D40F89C004B334B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35D3E851D40A61300E08D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35D3EBF1D40AFBB00E08D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35D3F051D40BA6D00E08D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35D3F421D40C17F00E08D4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3699C2E1D41BE9B0042CE17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3699C4C1D41CC270042CE17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3699C6A1D41F3A10042CE17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B36DF2DE1D45EB6B0026F7DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3B1F4B41D421F1200A49284</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
